= form.text_area :comment, class: "comment-area__main-area", placeholder: "コメントを記入（必須）"
.comment-area__sub-area
  = form.file_field :image , class: "image-btn" 
  = form.submit "確定", class: "submit_btn"